.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sign in Css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 20px;
}

input {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 16px;
}

button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #001066;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

a {
  color: #007bff;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  padding: 0 32px;
}

.navbar__logo img {
  height: 60px;
}

.navbar__link a {
  text-decoration: none;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 150px;
  height: 10px;
  left: 1100px;
  top: 35px;
}

.navbar__button button {
  background-color: #ccc;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.product-card {
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 20px;
  width: 23%;
}

.product-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.product-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-price {
  display: flex;
  justify-content: center;
}

.currency {
  font-size: 16px;
  font-weight: bold;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

.add-to-cart {
  background-color: #001066;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart:hover {
  background-color: #3e8e41;
}
